<div *ngIf="course" class="course-details">
    <div class="center-content">
        <h2 class="card-title"> {{ course.name }}</h2>
        <div class="details-item">
            <p>Count Lessons: {{ course.lessonCount }}</p>
        </div>
      <p [ngClass]="{'upcoming-week': isStartInNextWeek(course.startDate)}">Start Date: {{ course.startDate | date:'shortDate' }}</p>
        <div class="details-item">
            <img src={{getCategoryImg()}}  class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
            {{ getCategoryName(course.categoryId) }} </div>
        <div class="details-item">
            <p>Lecturer:{{ getLecturerName(course.lecturerId) }}</p>

        </div>
        <div *ngIf="course.syllabus && course.syllabus.length > 0" class="details-item">
            <ul>
                <li class="details-item" *ngFor="let syllabusItem of course.syllabus">
                  <mat-icon>check circle</mat-icon> {{ syllabusItem }}
                </li>
              </ul>
            <div class="details-item">
                <img src="{{course.learningMode.toString() | learningModeIcon}}" alt="Learning Mode Icon"
                    class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
            </div>
        </div>
        <div *ngIf="course.image" class="details-item">
            <img class="course-image" [src]="course.image" alt="Course Image">
        </div>
        <div *ngIf="isLecturer" class="details-item">
            <button type="button" id="btn1" class="edit-button" [routerLink]="['/edit-course', course.id]">Edit Course</button>
        </div>
    </div>
</div>