@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.course-details {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.header {
    font-size: 24px;
    font-weight: bold;
}

.details-item {
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.center-content {
    text-align: center;
}

.course-details {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.details-item button {
    margin-top: 20px; 
}
.course-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .center-content {
    text-align: center;
  }
  
  .course-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .details-item {
    margin-bottom: 15px;
  }
  
  .details-item p {
    margin: 0;
    font-weight: bold;
  }
  
  .course-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
  }
  

  .upcoming-week {
    font-weight: bold;
    color: rgb(149, 11, 87); 
  }
  ul {
    list-style-type: none; 
    padding: 0; 
  }
  .card-title{
    font-size: 30px;
    color: #0b817b;
}
#btn1{
  background-color: #0b817b;
  border-color: #0b817b;
  color: white;
}